<!-- Familiar Technologies Section -->
<section id="familiar-technologies" class="pt-0 px-4 sm:px-6 lg:px-8">
    <div class="container mx-auto text-center">
        <h3 class="text-2xl font-bold mb-8 text-white">Also Familiar With:</h3>

            

            <!-- Technologies -->
            <div class="relative z-10 flex justify-center items-center gap-x-12 whitespace-nowrap overflow-x-auto">
                <div class="text-2xl font-semibold text-white transition duration-300 hover:brightness-75">
                    MERN Stack
                </div>
                <div class="text-2xl font-semibold text-white transition duration-300 hover:brightness-75">
                    MongoDB
                </div>
                <div class="text-2xl font-semibold text-white transition duration-300 hover:brightness-75">
                    Flask
                </div>
                <div class="text-2xl font-semibold text-white transition duration-300 hover:brightness-75">
                    OpenAI (API extension)
                </div>
                <div class="text-2xl font-semibold text-white transition duration-300 hover:brightness-75">
                    Gemini CLI
                </div>
                <div class="text-2xl font-semibold text-white transition duration-300 hover:brightness-75">
                    Grafana
                </div>
                <div class="text-2xl font-semibold text-white transition duration-300 hover:brightness-75">
                    Prometheus
                </div>
            </div>
        